app-dice-picker .picker {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: repeat(6, 3rem);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}

app-dice-picker .picker:focus {
  outline: none;
}

app-dice-picker .picker__label {
  color: var(--color-black-02);
  font-size: calc(18rem/16);
  font-weight: bold;
  line-height: calc(20rem/16);
}

app-dice-picker .picker__button {
  background-color: var(--color-black-05);
  border: calc(2rem/16) solid var(--color-black-05);
  border-radius: calc(4rem/16);
  color: var(--color-black-10);
  display: block;
  font-size: calc(14rem/16);
  font-weight: bold;
  line-height: calc(16rem/16);
  padding: 0 0.25rem;
  white-space: nowrap;
  width: 100%;
}

app-dice-picker .picker__button:focus,
app-dice-picker .picker__button:hover {
  border-color: var(--color-black-02);
  outline: none;
}

app-dice-picker .picker__button:active {
  background-color: var(--color-black-06);
}

app-dice-picker .picker__button:disabled {
  visibility: hidden;
}
