/* Colors: https://codepen.io/basham/pen/OpNybO */
:root {
  --color-main-00: #ffffff;
  --color-main-01: #e2e2e2;
  --color-main-02: #c6c6c6;
  --color-main-03: #ababab;
  --color-main-04: #919191;
  --color-main-05: #777777;
  --color-main-06: #5e5e5e;
  --color-main-07: #474747;
  --color-main-08: #303030;
  --color-main-09: #1b1b1b;
  --color-main-10: #000000;
}

html {
  background-color: var(--color-main-00);
}

body {
  color: var(--color-main-09);
  font-family: system, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "toolbar picker"
    "total board"
    "roll board";
  height: 100vh;
  width: 100vw;
}

app-root h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}

app-root .toolbar {
  background-color: var(--color-main-01);
  grid-area: toolbar;
  padding: 2rem;
}

app-root .toolbar button {
  border-radius: calc(4rem/16);
  font-size: calc(20rem/16);
}

app-root .picker {
  display: grid;
  grid-area: picker;
  grid-auto-flow: column;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: repeat(auto-fill, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding: 2rem;
  width: min-content;
}

app-root .picker:focus {
  outline: none;
}

app-root .picker__button {
  background-color: var(--color-main-01);
  border: none;
  border-radius: calc(4rem/16);
  color: var(--color-main-08);
  display: inline-block;
  font-size: calc(14rem/16);
  font-weight: bold;
  line-height: calc(20rem/16);
  padding: 0 0.5rem;
  white-space: nowrap;
}

app-root .picker__button:disabled {
  visibility: hidden;
}

app-root .picker__button--count {
  min-width: 2rem;
}

app-root .notation {
  display: grid;
  font-size: calc(20rem/16);
  font-weight: normal;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, auto);
  margin: 1rem auto;
  width: min-content;
}

app-root .notation :nth-child(odd) {
  width: 4rem;
}

app-root .notation :nth-child(even) {
  color: var(--color-main-05);
  width: 1rem;
}

app-root .total {
  background-color: var(--color-main-01);
  grid-area: total;
  padding: 2rem;
  text-align: center;
}

app-root .total__count {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

app-root .total__label {
  display: block;
  font-size: calc(20rem/16);
  letter-spacing: 0.15ch;
}

app-root .roll {
  background-color: var(--color-main-01);
  grid-area: roll;
  padding: 2rem;
}

app-root .toolbar__button {
  border: calc(2rem/16) solid var(--color-main-04);
  border-radius: 0.25rem;
  font-size: calc(24rem/16);
  font-weight: bold;
  line-height: calc(40rem/16);
  padding: 0 1rem;
  white-space: nowrap;
  width: 100%;
}

.hidden,
app-root .toolbar__button:disabled {
  visibility: hidden;
}

app-root .board {
  display: grid;
  grid-area: board;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 4rem);
  justify-items: center;
  padding: 2rem;
  width: min-content;
}

app-root .board__dice > * + * {
  margin-top: 0.5rem;
}
