app-die,
app-die[size="small"] {
  --font-size: 1rem;
  --size: 3rem;
}

app-die[size="medium"] {
  --font-size: calc(20rem/16);
  --size: 4rem;
}

app-die,
app-die[theme="light"] {
  --color-default-fill: var(--color-main-00);
  --color-default-stroke: var(--color-main-02);
  --color-default-text: var(--color-main-06);

  --color-hover-fill: var(--color-main-00);
  --color-hover-stroke: var(--color-main-06);
  --color-hover-text: var(--color-main-06);

  --color-focus-fill: var(--color-main-00);
  --color-focus-stroke: var(--color-main-06);
  --color-focus-text: var(--color-main-06);

  --color-active-fill: var(--color-main-01);
  --color-active-stroke: var(--color-main-06);
  --color-active-text: var(--color-main-09);
}

app-die {
  display: inline-block;
  height: var(--size);
  width: var(--size);
}

app-die .button {
  background-color: transparent;
  border: none;
  color: var(--color-default-text);
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

app-die .icon {
  fill: var(--color-default-fill);
  height: 100%;
  left: 0;
  position: absolute;
  stroke: var(--color-default-stroke);
  stroke-linejoin: round;
  stroke-width: 2;
  top: 0;
  width: 100%;
}

app-die .label {
  font-size: var(--font-size);
  font-weight: bold;
  position: relative;
}

app-die .button:hover .icon {
  fill: var(--color-hover-fill);
  stroke: var(--color-hover-stroke);
}

app-die .button:hover .label {
  color: var(--color-hover-text);
}

app-die .button:focus {
  outline: none;
}

app-die .button:focus .icon {
  fill: var(--color-focus-fill);
  stroke: var(--color-focus-stroke);
}

app-die .button:focus .label {
  color: var(--color-focus-text);
}

app-die .button:active .icon {
  fill: var(--color-active-fill);
  stroke: var(--color-active-stroke);
}

app-die .button:active .label {
  color: var(--color-active-text);
}
