/* Colors: https://codepen.io/basham/pen/OpNybO */
:root {
  --color-main-00: #ffffff;
  --color-main-01: #e2e2e2;
  --color-main-02: #c6c6c6;
  --color-main-03: #ababab;
  --color-main-04: #919191;
  --color-main-05: #777777;
  --color-main-06: #5e5e5e;
  --color-main-07: #474747;
  --color-main-08: #303030;
  --color-main-09: #1b1b1b;
  --color-main-10: #000000;
}

html {
  background-color: var(--color-main-00);
}

body {
  color: var(--color-main-09);
  font-family: system, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  text-align: center;
}

app-root h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}

app-root .app-plain-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -0.5rem;
  padding: 0;
}

app-root .app-plain-list li {
  margin: 0.5rem;
}

app-root .app-plus-list li {
  align-items: center;
  display: flex;
}

app-root .app-plus-list li::after {
  content: '+';
  margin-left: 1rem;
}

app-root .app-plus-list li:last-child::after {
  content: none;
}

app-root .actions {
  margin: 1rem 0;
}

app-root .actions button {
  border-radius: calc(4rem/16);
  font-size: calc(20rem/16);
}

app-root .picker {
  _background-color: var(--color-main-04);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
}

app-root .picker:focus {
  outline: none;
}

app-root .picker app-die {
  margin: 0.5rem;
}

app-root .notation {
  display: grid;
  font-size: calc(20rem/16);
  font-weight: normal;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, auto);
  margin: 1rem auto;
  width: min-content;
}

app-root .notation :nth-child(odd) {
  width: 4rem;
}

app-root .notation :nth-child(even) {
  color: var(--color-main-05);
  width: 1rem;
}

app-root .total {
  font-size: 3rem;
  font-weight: bold;
}

app-root .board {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 4rem);
  justify-items: center;
  margin: 1rem auto;
  width: min-content;
}

app-root .board__dice > * + * {
  margin-top: 0.5rem;
}
