app-die,
app-die[size="small"] {
  --font-size: 1rem;
  --size: 3rem;
}

app-die[size="medium"] {
  --font-size: calc(20rem/16);
  --size: 4rem;
}

app-die,
app-die[theme="ghost"] {
  --color-default-fill: var(--color-black-08);
  --color-default-stroke: var(--color-black-05);
  --color-default-text: var(--color-black-01);

  --color-focus-fill: var(--color-default-fill);
  --color-focus-stroke: var(--color-black-03);
  --color-focus-text: var(--color-default-text);

  --color-active-fill: var(--color-black-07);
  --color-active-stroke: var(--color-focus-stroke);
  --color-active-text: var(--color-default-text);
}

app-die[theme="solid"] {
  --color-default-fill: var(--color-black-06);
  --color-default-stroke: var(--color-default-fill);
  --color-default-text: var(--color-black-00);

  --color-focus-fill: var(--color-default-fill);
  --color-focus-stroke: var(--color-black-08);
  --color-focus-text: var(--color-default-text);

  --color-active-fill: var(--color-black-07);
  --color-active-stroke: var(--color-focus-stroke);
  --color-active-text: var(--color-default-text);
}

app-die[theme="solid"][sides="4"] {
  --color-default-fill: var(--color-blue-04);
  --color-default-text: var(--color-blue-09);

  --color-focus-stroke: var(--color-blue-02);

  --color-active-fill: var(--color-blue-05);
}

app-die[theme="solid"][sides="6"] {
  --color-default-fill: var(--color-orange-03);
  --color-default-text: var(--color-orange-08);

  --color-focus-stroke: var(--color-orange-01);

  --color-active-fill: var(--color-orange-04);
}

app-die[theme="solid"][sides="8"] {
  --color-default-fill: var(--color-green-03);
  --color-default-text: var(--color-green-08);

  --color-focus-stroke: var(--color-green-01);

  --color-active-fill: var(--color-green-04);
}

app-die[theme="solid"][sides="10"] {
  --color-default-fill: var(--color-purple-04);
  --color-default-text: var(--color-purple-09);

  --color-focus-stroke: var(--color-purple-02);

  --color-active-fill: var(--color-purple-05);
}


app-die[theme="solid"][sides="12"] {
  --color-default-fill: var(--color-teal-03);
  --color-default-text: var(--color-teal-08);

  --color-focus-stroke: var(--color-teal-01);

  --color-active-fill: var(--color-teal-04);
}

app-die[theme="solid"][sides="20"] {
  --color-default-fill: var(--color-yellow-02);
  --color-default-text: var(--color-yellow-07);

  --color-focus-stroke: var(--color-yellow-00);

  --color-active-fill: var(--color-yellow-03);
}

app-die {
  display: inline-block;
  height: var(--size);
  width: var(--size);
}

app-die .button {
  background-color: transparent;
  border: none;
  color: var(--color-default-text);
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

app-die .icon {
  fill: var(--color-default-fill);
  height: 100%;
  left: 0;
  position: absolute;
  stroke: var(--color-default-stroke);
  stroke-linejoin: round;
  stroke-width: 2;
  top: 0;
  width: 100%;
}

app-die .label {
  font-size: var(--font-size);
  font-weight: bold;
  position: relative;
}

app-die .button:focus {
  outline: none;
}

app-die .button:focus .icon,
app-die .button:hover .icon {
  fill: var(--color-focus-fill);
  stroke: var(--color-focus-stroke);
}

app-die .button:focus .label,
app-die .button:hover .label {
  color: var(--color-focus-text);
}

app-die .button:active .icon {
  fill: var(--color-active-fill);
  stroke: var(--color-active-stroke);
}

app-die .button:active .label {
  color: var(--color-active-text);
}
