/*
Color palette: http://clrs.cc/
Color variations: https://codepen.io/basham/pen/OpNybO
*/
:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-black-00: var(--color-white);
  --color-black-01: #e2e2e2;
  --color-black-02: #c6c6c6;
  --color-black-03: #ababab;
  --color-black-04: #919191;
  --color-black-05: #777777;
  --color-black-06: #5e5e5e;
  --color-black-07: #474747;
  --color-black-08: #303030;
  --color-black-09: #1b1b1b;
  --color-black-10: var(--color-black);

  --color-blue: #0074d9;
  --color-blue-00: var(--color-white);
  --color-blue-01: #dce2f8;
  --color-blue-02: #b7c6f1;
  --color-blue-03: #91aaea;
  --color-blue-04: #6590e2;
  --color-blue-05: #1b77da;
  --color-blue-06: #185eae;
  --color-blue-07: #1e467f;
  --color-blue-08: #1b3054;
  --color-blue-09: #141b2c;
  --color-blue-10: var(--color-black);

  --color-green: #2ecc40;
  --color-green-00: var(--color-white);
  --color-green-01: #c1eebb;
  --color-green-02: #7ddc78;
  --color-green-03: #2ec53e;
  --color-green-04: #2da637;
  --color-green-05: #2a882f;
  --color-green-06: #266c28;
  --color-green-07: #215120;
  --color-green-08: #1a3719;
  --color-green-09: #121f10;
  --color-green-10: var(--color-black);

  --color-orange: #ff851b;
  --color-orange-00: var(--color-white);
  --color-orange-01: #ffd9b9;
  --color-orange-02: #ffb376;
  --color-orange-03: #ff8c2d;
  --color-orange-04: #de741b;
  --color-orange-05: #b6601b;
  --color-orange-06: #8f4d19;
  --color-orange-07: #6a3b16;
  --color-orange-08: #482912;
  --color-orange-09: #28180c;
  --color-orange-10: var(--color-black);

  --color-purple: #b10dc9;
  --color-purple-00: var(--color-white);
  --color-purple-01: #f5daf6;
  --color-purple-02: #e9b6ed;
  --color-purple-03: #db91e3;
  --color-purple-04: #cc6ad9;
  --color-purple-05: #bc3ccf;
  --color-purple-06: #a014b5;
  --color-purple-07: #761984;
  --color-purple-08: #4f1857;
  --color-purple-09: #2a122d;
  --color-purple-10: var(--color-black);

  --color-teal: #39cccc;
  --color-teal-00: var(--color-white);
  --color-teal-01: #bdebea;
  --color-teal-02: #71d6d6;
  --color-teal-03: #37bdbd;
  --color-teal-04: #349f9f;
  --color-teal-05: #2f8383;
  --color-teal-06: #296767;
  --color-teal-07: #234d4d;
  --color-teal-08: #1b3534;
  --color-teal-09: #121d1d;
  --color-teal-10: var(--color-black);

  --color-yellow: #ffdc00;
  --color-yellow-00: var(--color-white);
  --color-yellow-01: #ffe149;
  --color-yellow-02: #e5c50d;
  --color-yellow-03: #c5aa14;
  --color-yellow-04: #a79018;
  --color-yellow-05: #897619;
  --color-yellow-06: #6d5e18;
  --color-yellow-07: #524616;
  --color-yellow-08: #383012;
  --color-yellow-09: #201b0c;
  --color-yellow-10: var(--color-black);
}

html {
  background-color: var(--color-black-09);
  color: var(--color-black-01);
}

body {
  font-family: system, sans-serif;
  font-size: 100%;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
}

app-root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    ". picker"
    "total board"
    "toolbar board";
  min-height: 100vh;
  min-width: 100vw;
}

app-root h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}

app-root .toolbar {
  grid-area: toolbar;
  padding: 2rem;
}

app-root > app-dice-picker {
  background-color: var(--color-black-08);
  grid-area: picker;
  padding: 2rem;
}

app-root > app-dice-board {
  background-color: var(--color-black-08);
  grid-area: board;
  padding: 1.5rem;
}

app-root .total {
  color: var(--color-black-01);
  grid-area: total;
  padding: 2rem;
  text-align: center;
}

app-root .total__count {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

app-root .total__label {
  display: block;
  font-size: calc(20rem/16);
  letter-spacing: 0.15ch;
}

app-root .roll {
  grid-area: roll;
  padding: 2rem;
}

app-root .toolbar__button {
  background-color: var(--color-black-07);
  border: calc(4rem/16) solid var(--color-black-05);
  border-radius: 0.25rem;
  color: var(--color-black-01);
  font-size: calc(18rem/16);
  font-weight: bold;
  line-height: calc(40rem/16);
  padding: 0 1rem;
  white-space: nowrap;
  width: 100%;
}

app-root .toolbar__button + .toolbar__button {
  margin-top: 2rem;
}

app-root .toolbar__button:focus,
app-root .toolbar__button:hover {
  border-color: var(--color-black-01);
  outline: none;
}

app-root .toolbar__button:active {
  background-color: var(--color-black-08);
}

.hidden,
app-root .toolbar__button:disabled {
  visibility: hidden;
}
