html {
  background-color: whitesmoke;
}

body {
  font-family: system, sans-serif;
  font-size: 100%;
  padding: 2rem;
}

app-root {
  text-align: center;
}

app-root h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}

app-root .app-plain-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -0.5rem;
  padding: 0;
}

app-root .app-plain-list li {
  margin: 0.5rem;
}

app-root .app-plus-list li {
  align-items: center;
  display: flex;
}

app-root .app-plus-list li::after {
  content: '+';
  margin-left: 1rem;
}

app-root .app-plus-list li:last-child::after {
  content: none;
}

app-root button {
  border-radius: calc(4rem/16);
  font-size: calc(20rem/16);
}

app-root .actions {
  margin: 1rem 0;
}

app-root .notation {
  font-size: 1.5rem;
}

app-root .total {
  font-size: 3rem;
  font-weight: bold;
}

app-root .board {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-template-rows: repeat(2, auto) 1fr;
  justify-items: center;
  margin: 1rem auto;
  width: min-content;
}

app-root .board__type {
  color: #777;
  font-size: calc(18rem/16);
  font-weight: bold;
  margin: 0;
}

app-root app-dice + app-dice {
  margin-top: 0.5rem;
}
