[is="dice-button"],
[is="dice-button"][size="small"] {
  --font-size: calc(14rem/16);
  --size: 2rem;
}

[is="dice-button"][size="medium"] {
  --font-size: calc(20rem/16);
  --size: 4rem;
}

[is="dice-button"] {
  --color-focus-fill: var(--color-default-fill);
  --color-focus-text: var(--color-default-text);

  --color-active-stroke: var(--color-focus-stroke);
  --color-active-text: var(--color-default-text);
}


[is="dice-button"][theme="ghost"] {
  --color-default-fill: transparent;
  --color-default-stroke: var(--color-black-05);
  --color-default-text: var(--color-black-01);

  --color-focus-stroke: var(--color-black-02);

  --color-active-fill: var(--color-black-09);
}

[is="dice-button"][theme="solid"] {
  --color-default-fill: var(--color-black-06);
  --color-default-stroke: var(--color-default-fill);
  --color-default-text: var(--color-black-00);

  --color-focus-stroke: var(--color-black-08);

  --color-active-fill: var(--color-black-07);
}

[is="dice-button"][theme="solid"][faces="4"] {
  --color-default-fill: var(--color-blue-04);
  --color-default-text: var(--color-blue-09);

  --color-focus-stroke: var(--color-blue-02);

  --color-active-fill: var(--color-blue-05);
}

[is="dice-button"][theme="solid"][faces="6"] {
  --color-default-fill: var(--color-orange-03);
  --color-default-text: var(--color-orange-08);

  --color-focus-stroke: var(--color-orange-01);

  --color-active-fill: var(--color-orange-04);
}

[is="dice-button"][theme="solid"][faces="8"] {
  --color-default-fill: var(--color-green-03);
  --color-default-text: var(--color-green-08);

  --color-focus-stroke: var(--color-green-01);

  --color-active-fill: var(--color-green-04);
}

[is="dice-button"][theme="solid"][faces="10"] {
  --color-default-fill: var(--color-purple-04);
  --color-default-text: var(--color-purple-09);

  --color-focus-stroke: var(--color-purple-02);

  --color-active-fill: var(--color-purple-05);
}


[is="dice-button"][theme="solid"][faces="12"] {
  --color-default-fill: var(--color-teal-03);
  --color-default-text: var(--color-teal-08);

  --color-focus-stroke: var(--color-teal-01);

  --color-active-fill: var(--color-teal-04);
}

[is="dice-button"][theme="solid"][faces="20"] {
  --color-default-fill: var(--color-yellow-02);
  --color-default-text: var(--color-yellow-07);

  --color-focus-stroke: var(--color-yellow-00);

  --color-active-fill: var(--color-yellow-03);
}

[is="dice-button"] {
  background-color: transparent;
  border: none;
  color: var(--color-default-text);
  display: inline-block;
  height: var(--size);
  padding: 0;
  position: relative;
  width: var(--size);
}

[is="dice-button"] > * {
  pointer-events: none;
}

[is="dice-button"] > .icon {
  fill: var(--color-default-fill);
  height: 100%;
  left: 0;
  position: absolute;
  stroke: var(--color-default-stroke);
  stroke-linejoin: round;
  stroke-width: 2;
  top: 0;
  width: 100%;
}

[is="dice-button"] > .label {
  font-size: var(--font-size);
  font-weight: bold;
  position: relative;
}

[is="dice-button"]:focus {
  outline: none;
}

[is="dice-button"]:focus > .icon,
[is="dice-button"]:hover > .icon {
  fill: var(--color-focus-fill);
  stroke: var(--color-focus-stroke);
}

[is="dice-button"]:focus > .label,
[is="dice-button"]:hover > .label {
  color: var(--color-focus-text);
}

[is="dice-button"]:active > .icon {
  fill: var(--color-active-fill);
  stroke: var(--color-active-stroke);
}

[is="dice-button"]:active > .label {
  color: var(--color-active-text);
}
